:root {
  --white: #fff;
  --gray: #a9a9a9;
  --dark-gray: #494848;
  --black: #000;
  

}
html {
  font-size:62.5%;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}
a {
  color: var(--white);
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}
.regular {
  background-color: var(--white);
  color: var(--black);
}
.image {
  background-color: var(--dark-gray);
  color: var(--white);
}