.regular {
  background-color: var(--white);
  color: var(--black);
}
.image {
  background-color: var(--dark-gray);
  color: var(--white);
  background-size: cover;
  background-position: right center;
  box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.61);
  background-attachment: fixed;
}
.image > p {
  display: inline-block;
  padding: .5rem;
  background-color: var(--back);
  text-shadow: 1px 1px 0 black;
}
.image#img1 {
  background-image: url(../img/ladybug.jpg);
}
.image#img2 {
  background-image: url(../img/letter.jpg);
}